@charset "utf-8";
/* CSS Document */

html {background:url("../Pictures/Wallpaper/Wallpaper_Thing.png"); background-size: 107%;}

#TopIcon img       {width: 100px;}
#TopIcon           {float: right; padding: 90px 70px 0px 0px;}


#CenterIcon       {float: right;padding: 40px 70px 0px 0px;}

#BottomIcon img       {width: 120px;}
#BottomIcon           {float:right; padding: 0px 65px 0px 0px;}

#Bottomnav 			{float:none;position: fixed;bottom: 0;width: 100%;background:#1A1515;margin-left: 0px;}
#Bottomnav img 		{height: 40px;width: 40px;margin-left: 20px; margin-top:10px;}

h1         {font-family:"rainyhearts";
		    font-size:49px;
		    font-weight: normal;
			font-style: normal;
			text-indent:0;
			text-decoration: none;
			color: white;
			text-shadow: 2px 2px 1px #000;
			width: 1260px;
			float:left;
			padding:20px 0px 0px 350px;
			}

.Center			 {float: none;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.Poweroff		 {float:left;}
.Bottomnav		 {background-color: #333;overflow: hidden;position: fixed;bottom: 0;width: 100%;}

.icon-container {
  display: flex;
margin-left:202px; }

.icon {
  text-align: center;
  margin: 0 20px;
}

.text {
  display: block;
  font-family:"rainyhearts";
		    font-size:25px;
		    font-weight: normal;
			font-style: normal;
			text-indent:0;
			text-decoration: none;
			text-align: center;
			color: white;
			text-shadow: 2px 1px 1px #000;
}

