@charset "utf-8";
/* CSS Document */

html {background: url("../Pictures/Wallpaper/Mail.png"); background-size: 100%;}

h1 {font-family:"rainyhearts";
		    font-size:60px;
		    font-weight: normal;
			font-style: normal;
			text-indent:0;
			text-decoration: none;
			text-align: left;
			color: black;
			border-bottom: #000000 2px solid; 
			padding-bottom: 20px; }

h4 {font-family:"rainyhearts";
		    font-size:40px;
		    font-weight: normal;
			font-style: normal;
			text-indent:0;
			text-decoration: none;
			text-align: left;
			color: black;}

#content {width: 1200px; float: left;padding-top: 90px; padding-left: 290px;}


#Bottomnav 			{float:none;position: fixed;bottom: 0;width: 100%;background:#1A1515;margin-left: -8px;}
#Bottomnav img 		{height: 40px;width: 40px;margin-left: 20px; margin-top:10px;}


.Center			 {float: none;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.Poweroff		 {float:left;}
.Bottomnav		 {background-color: #333;overflow: hidden;position: fixed;bottom: 0;width: 100%;}